/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #image-crop-main{
        display: block;
    }
    #image-crop-options{
        display: none;
    }
    #image-crop{
        width:100%; height: 80%;
        overflow-x: hidden;
    }

    #image-crop-options-mobile{
        display: block;
        min-height: 95px;
        width:100%; height: 20%;
        background-color: rgb(247, 247, 247);
    }
    #image-title-container-mobile{
        min-height: 24px;
        width:100%; height: 20%;
        font-size: 18px;
    }
    #image-crop-detail-container-mobile{
        display: flex;
        width:100%; height:80%;
    }
    #image-download-container-mobile{
        width:20%; height: 100%;
        position: relative;
        border-left: 1px solid gray;
    }
    #image-download-button-mobile{
        width: 100%; height: 100%;
    }
}